li{
    background-color: lightblue;
    display: inline;
}
span{
    background-color: antiquewhite;
    display: block;
}
a{
    background-color: pink;
    display: block;
}
h1{
    background-color: green;
    visibility: hidden;
}