h1{
    color: green;
    text-align: center;
    text-decoration: overline;
}

p{
    color: blue;
    letter-spacing: 3px;
}
h2{
    text-align: left;
    color: red;
    text-decoration: line-through;
}

h3{
    text-align: right;
    color: navy;
    text-decoration: underline;
}
h4{
    word-spacing: 10px;
}

div{
    text-align: justify;
    background-color: lightseagreen;
    text-indent: 50px;
    letter-spacing: 5px;
}

a{
    text-decoration: none;
}

p.uppercase{
    text-transform: uppercase;
    color: mediumturquoise;
    direction: rtl;
}

p.lowercase{
    text-transform: lowercase;
    color: darkcyan;
}

p.capitalize{
    text-transform: capitalize;
    color: orchid;
}

div.square{
    line-height: 50px;
}